.pagination {
    button {
        width: 40px;
        height: 40px;
        font-size: 15px;
        border: none;
        text-align: center;
        border-radius: 50px;
        margin: 3px;
    }

    .btnNone {
        background-color: transparent;
    }

    .active {
        background-color: rgb(136, 173, 185);
        border-radius: 50px;
        color: $light;
    }
}
