// .home-image {
//     width: 100%;
//     height: 100vh;
//     background-repeat: no-repeat; //不會重複
//     background-attachment: fixed; //不會隨著頁面滾動
//     background-position: center;
//     background-size: cover;
//     position: relative;
// }

.home-slider {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #000;
    overflow: hidden;

    .home-image {
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 0;
        animation: slide 25s infinite;
        background-size: cover;
        background-position: center;

        &:nth-child(2) {
            animation-delay: 5s;
        }
        &:nth-child(3) {
            animation-delay: 10s;
        }
        &:nth-child(4) {
            animation-delay: 15s;
        }
        &:nth-child(5) {
            animation-delay: 20s;
        }
    }
}

.home-container {
    margin: 0 15% 15%;
    position: absolute;
    bottom: 0;
    left: 0;

    p {
        font-size: 40px;
        color: rgba($light, 0.5);
    }
    button {
        padding: 10px;
        width: 18vmax;
        max-width: 500px;
        min-width: 200px;
        background-color: $pokemon-dark-blue;
        color: $light;
        border: none;
        font-weight: 700;
        transition: 0.5s ease-in;

        &:hover {
            box-shadow: inset 500px 0 0 0 $pokemon-dark-yellow;
            background-color: rgb(179, 173, 230);
            color: #0f224a;
            font-weight: 700;
        }
    }
}
